### Imbalanced dataset Handling

1. Upsampling 
2. Down Sampling

In [11]:
import numpy as np
import pandas as pd

In [12]:
#Set the random seed for reproducibility
np.random.seed(123)

# Create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples* class_0_ratio)
n_class_1 = n_samples - n_class_0

In [13]:
n_class_0,n_class_1

(900, 100)

class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size =n_class_0), # jya random.normal e normal distribution che  
    'feature_2': np.random.normal(loc=0, scale=1, size =n_class_0),
    'target': [0] * n_class_0 
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target':[1] * n_class_1
})

In [21]:
df = pd.concat([class_0,class_1]).reset_index(drop=True)

In [23]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

## Upsampling

In [33]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [34]:
df_minority.head()

     feature_1  feature_2  target
900   1.058309   3.423331       1
901   3.038645   2.695077       1
902   0.567521   1.493148       1
903   0.379497   3.225683       1
904   1.720473   3.062946       1

In [39]:
df_majority.head()

   feature_1  feature_2  target
0  -1.276434  -0.197188       0
1   0.054508  -0.620464       0
2  -0.635039   1.134066       0
3  -0.490176  -0.300882       0
4  -0.433896   0.061599       0

In [42]:
## Upsampling Perform 
from sklearn.utils import resample

In [46]:
df_minority_upsample = resample(df_minority,
                               replace=True, ##sample with replacement
                               n_samples=len(df_majority),# to match the class
                               random_state=42
                               )

In [47]:
df_minority_upsample.shape

(900, 3)

In [50]:
df_minority_upsample.shape

(900, 3)

In [52]:
df_minority_upsample['target'].value_counts()

target
1    900
Name: count, dtype: int64

In [53]:
df_upsampled=pd.concat([df_majority,df_minority_upsample])

In [55]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

In [56]:
df_upsampled.head()

   feature_1  feature_2  target
0  -1.276434  -0.197188       0
1   0.054508  -0.620464       0
2  -0.635039   1.134066       0
3  -0.490176  -0.300882       0
4  -0.433896   0.061599       0

In [78]:
# jya e double thayi jse 
df_upsampled.shape

(1800, 3)

## DownSampling

In [79]:
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size =n_class_0), # jya random.normal e normal distribution che  
    'feature_2': np.random.normal(loc=0, scale=1, size =n_class_0),
    'target': [0] * n_class_0 
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target':[1] * n_class_1
})

In [80]:
df = pd.concat([class_0,class_1]).reset_index(drop=True)

In [81]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [86]:
df_majority_downsample= resample(df_minority,
                                replace=False,
                                n_samples=len(df_minority), # to match the minority  class
                                 random_state=42
                                )

In [87]:
df_majority_downsample.shape

(100, 3)

In [90]:
df = pd.concat([df_minority,df_majority_downsample])

In [91]:
df_downsample['target'].value_counts()

NameError: name 'df_downsample' is not defined